@import './__wrap/header__wrap.css';
@import './__list/header__list.css';
@import './__item/header__item.css';
@import './__item/_current/header__item_current.css';
@import './__icons/header__icons.css';

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}