@import './__wrap/header__wrap.css';
@import './__list/header__list.css';
@import './__item/header__item.css';
@import './__item/_current/header__item_current.css';
@import './__icons/header__icons.css';
@import './__icon/header__icon.css';
@import './__cart-count/header__cart-count.css';
@import './__icon/_cart/header__icon_cart.css';
@import './__pages/header__pages.css';

.header {
    max-width: 1280px;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}